<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>vue-3 简易计算器</title>
		<script type="text/javascript" src="./Vue-2.6.11.js"></script>
	</head>
	<body>
		<div id="app">
			<input type="text" name="" id="" v-model="n1" />

			<select name="" v-model="opt">
				<option value="+">+</option>
				<option value="-">-</option>
				<option value="*">*</option>
				<option value="/">/</option>
			</select>

			<input type="text" name="" id="" v-model="n2" />

			<input type="button" name="" id="" value="=" @click="calc" />
			<input type="text" name="" id="" v-model="result" />
		</div>
		<script type="text/javascript">
			var vm = new Vue({
				el: "#app",
				data: {
					n1: 0,
					n2: 0,
					result: 0,
					opt: "+"
				},
				methods: {
					calc() {
						//逻辑
						switch (this.opt) {
							case "+":
								this.result = parseInt(this.n1) + parseInt(this.n2)
								break;
							case "-":
								this.result = parseInt(this.n1) - parseInt(this.n2)
								break;
							case "*":
								this.result = parseInt(this.n1) * parseInt(this.n2)
								break;
							case "/":
								this.result = parseInt(this.n1) / parseInt(this.n2)
								break;
						}
						// var codeStr = "parseInt(this.n1)" + this.opt + "parseInt(this.n2)"
						// this.result = eval(codeStr)
					}
				}
			})
		</script>
	</body>
</html>
